 body {
            font-family:sans-serif;
            background-color:#eee;
            }

            #frame {
            border-style:solid;
            border-width:5px;
            border-color:blue;
            margin-left:1%;
            padding:2%;
            width:66%;
            background-color:#fff;
            }

            #hd-container {
            width:100%;
            }
            
            nav ul { 
			opacity: .95;
			list-style-type: none;
			padding: 1.5625%; /* 10px; */
			margin: 0; 
			overflow: hidden;
			width: 60.6875%; /* 350px; */
			float: left;
			}

			nav li {
			float: left;
			width: 45%;
			}

			nav ul li:first-child {
			margin-left: .1%;
			}

			nav a {
			text-decoration: none;
			color: #000;
			line-height: 100%;
			font-size: 16px;
			height: 25px;
			display: block;
			}

			nav a:hover {
		 	color: #d0000d
			}

            #header {
            width:100%;
            text-align:left;
            }
            
            #intent {
            border-style:solid;
            border-width:3px;
            border-color:blue;
            padding:5px;
            width:99%;
            background-color:#c8c7de;
            }

            #compete {
            border-style:solid;
            border-width:3px;
            border-color:blue;
            padding:5px;
            width:99%;
            background-color:#c8c7de;
            }
            
            #keywords {
            width:40%;
            }

            #demo {
            border-style:solid;
            border-width:3px;
            border-color:blue;
            padding:5px;
            width:99%;
            background-color:#c8c7de;
            }

            #target {
            border-style:solid;
            border-width:3px;
            border-color:blue;
            padding:5px;
            width:99%;
            background-color:#c8c7de;
            }

            #content {
            font-size:16px;
            line-height:145%;
            width:100%;
            text-align:left;
            clear:left;
            }

            h3 {
            font-family:times new roman,serif;
            line-height:145%; 
            text-align:left;
            font-size:22px;
            }
            
            h2 {
            font-family:times new roman,serif;
            text-align:left;
            font-size:28px;
            }
            
			table {
			border-collapse: collapse;
			border:1px solid #000;
			float:center;
			font-size: 12px;
			width:98%;
			margin-top:2.5%;
			margin-left:1%;
			}

			td {
			border:none;
			padding:.65%;
			font-family: san serif;
			font-size: 10px;
			}

			th {
			text-align:center;
			background-color: #a91e22;
			color: #fff;
			padding: 1%; /* .3em */
			}

			.odd {
			background-color: #e8d173;
			}
            
